body{
    margin:0;
    padding:0;
    padding-top: 70px;
} 

a{
    text-decoration: none;
    color:#fff;
}


                                /* estilo cabecera*/

header{
    display:flex;
    background-color: rgb(192, 69, 69);
    height: 70px;
    width:100%;
    justify-content: space-between;
    align-items: center;
    top:0;
    position: fixed;  
    font-size:smaller;
}


.logo{
    display:flex;
    align-items: center;
}


.logo-img{
    height: 60px;
    margin-right:10px;
    margin-left: 10px;
}


nav a{
    font-weight: 600px;
    font-size:22px;
    padding-right: 50px;
}

nav a:hover{
    color:dimgray;
}

                                    /* estilo de imagen y parrafo*/
.container img{
    position:absolute;
    width: 1281px;
    height: 700px;
    top: 70px;
    z-index: -2; 
}

.container P{
    background-color:rgb(0,0,0, 70%);
    border-radius: 0.5em;
    position:absolute;
    color:#fff;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    width: 50%;
    padding: 50px;
    margin: 5em, 5em;
    z-index: -1;
    top: 20%;
    left: 20%
    
}

                                     /*Estilo  Enlace Descargar App*/

.descargar-app{
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 45em;
    margin-bottom: 1em;    
    justify-content: center;
 }  

.logo-google-play{
    display: flex;
    height: 60px;
    margin-left: 2em;
    margin-right: 2em;
}

.logo-app-store{
    display: flex;
    height: 45px;  
}
                                    
                                         /*Estilo pie de página*/

.footer{
    text-align: center;
    background-color: rgb(192, 69, 69);
    width: 100%;
    padding: 10px;
    position:static;  
}

.footer h2{
    color:#fff;
    text-align: center;
    line-height: 2.5cm;
    
}

.footer a{
    font-size:larger
}

.footer h3{
    color:#fff;
    font-size:small;
    line-height: 3cm;
    margin:0%;
    text-align:center;
}
    
    
/*Responsive mobile

@media screen and (max-width: 320px){
    body{
        background-color:black;
        background-size: 320px;
    }

    header{
        background: #333;
        padding: 1px;
        justify-content: space-between;
        align-items: center;
        left:0%;
        top:0%;

    }
    
    
    .Logo{
        display:flex;
        align-items: center;
    }
    
    
    .logo-img{
        height: 30px;
        margin-right:10px;
        margin-left: 10px;
    }
    
    .nombre-app{font-size:smaller;

    }
    
    nav a{
        font-weight: 100px;
        font-size:smaller;
        padding-right: 1px;
    }
    
    nav a:hover{
        color:dimgray;
    }
    
    
    .container img{
        margin-bottom: 0%;
        width:100%;
        height:100%;
        opacity:60%  
    }

    .container p{
        font-size: 1em;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 20%;
        color: white;
        position: absolute;
        top:15%;
        left:30%;   
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba(0, 0, 0, 2);
        text-align: justify
    }

                          /*Estilo  Enlace Descargar App*/
   /* .container a{
        font-size:smaller;
        color: white;
        position: absolute;
        top:30%;
        left:50%;   
        transform: translate(-50%, -50%); 
        background-color: rgb(192, 69, 69);
        padding: 1%;
        border-radius: 0.5cm;
}*/
































